#head{
  color: rgb(211, 239, 250);
  width: 100%;
  text-align: center;
  height: 80px;
  max-height: 80px;
}

#info{
  display: none;
}


body {
  font: 13px Helvetica, Arial;
  background: rgb(241, 247, 244);
  background-image: url(../img/ocean_to_ocean.jpg);
  background-size: cover;
}
/* input user */
#inputuse {
  width: 70%;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #fff;
}

::placeholder {
  color: rgb(255, 255, 255, 0.8);
}

#buton {
  padding: 8px;
  color: rgb(255, 255, 255);
  border: none;
}
/* select room */
#room_name {
  height: 40px;
  background-color: rgb(236, 235, 241, 0.6);
  border: groove rgb(127, 206, 230);
  color: rgb(16, 42, 100);
}

#in_room {
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #fff;
}

#roomb {
  padding: 8px;
  color: rgb(255, 255, 255);
  border: none;
}

#roomj {
  padding: 8px;
  color: rgb(255, 255, 255);
  border: none;
}

/* box chat */
#cxbox {
  background-color: rgb(63, 127, 211);
  color: rgb(243, 242, 242);
  padding: 15px;
  text-align: center;
}

#cbox {
  overflow-y: scroll;
  padding: 0;
  background: rgb(241, 247, 244, 0.2);
  height: 480px;
  max-height: 490px;
}
::-webkit-scrollbar {
  display: none;
}

/* online user */
#onhead {
  background-color: rgb(63, 127, 211);
  color: rgb(243, 242, 242);
  padding: 15px;
  text-align: center;
}

#onbox {
  overflow-y: scroll;
  height: 150px;
  background-color: rgb(19, 248, 248, 0.2);
}

#online_user li {
  padding: 5px 10px;
  color: #fff;
}
/* #online_user li:nth-child(odd) {
  background: #eee;
} */

/* inbox */
#inhead {
  background-color: rgb(40, 82, 138);
  color: rgb(243, 242, 242);
  padding: 15px;
  text-align: center;
}

#refresh {
  color: rgb(240, 234, 183);
  background-color: rgb(56, 42, 107);
  border: none;
  height: 30px;
  width: 100%;
}

#ibox {
  overflow-y: scroll;
  height: 270px;
  background-color: rgb(19, 248, 248, 0.3);
}

#privates li {
  list-style-type: none;
  padding: 5px 10px;
}

#privates {
  list-style-type: none;
  margin: 0;
  color: #fff;
  max-width: 520px;
  word-wrap: break-word;
}

/* #privates li:nth-child(odd) {
  background: #eee;
} */

/* form */
form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#inboxuser {
  width: 65%;
  padding: 0px;
  background-color: rgb(236, 235, 241, 0.8);
  border: groove rgb(76, 128, 145);
  color: rgb(62, 72, 216);
}

form input {
  background: rgb(241, 247, 244);
  padding: 10px;
  width: 70%;
  margin-right: 0.5%;
}

#send_button {
  width: 8%;
  color: rgb(252, 249, 249);
  background: rgb(46, 45, 71);
  border: none;
  padding: 0px;
  margin-right: 0.5%;
  border-radius: 8px;
  height: 35px;
}

#send_icon {
  width: 20%;
}

#video_button {
  width: 8%;
  color: #fff;
  background-color: blue;
  border: none;
  margin-right: 0.5%;
  border-radius: 8px;
}

#vcall_icon {
  width: 25%;
}

#icon_button {
  width: 60px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 12px;
  font-size: 6px;
  margin-left: 5px;
}
.dropdown-toggle ::after{
  display: none !important;
}

#smile {
  width: 50%;
}

#m {
  padding: 0px;
  height: 35px;
}

#messages {
  margin: 0;
  max-width: 850px;
  word-wrap: break-word;
}

#messages li {
  list-style-type: none;
  padding: 5px 5px;
  color: #fff;
}

/* #messages li:nth-child(odd) {
  background: #eee;
} */

#typing {
  color: #fff;
}
.vl {
  border-left: 2px solid rgb(255, 255, 255);
  padding: 5px;
  height: 300px;
}

#emoji{
  max-height: 250px;
  overflow-y: scroll;
  margin: 0%;
  padding: 0%;
}

div.dropdown-menu.show{
  width: 250px;
}

#game{
  width: 6%;
  color: #fff;
  background-color: rgb(140, 88, 184);
  margin-left: 0,5%;
  border: none;
  border-radius: 8px;
}

#game_icon{
  width: 35%;
}